<fieldset>
  <legend>搜索结果123</legend>
  <%=form_tag "/search" do %>
      搜索方式：
      <%= radio_button_tag(:search_type, "name") %>
      <%= label_tag(:age_child, "按仪器名称搜索") %>
      <%= radio_button_tag(:search_type, "dw") %>
      <%= label_tag(:age_adult, "按所在研究单位搜索") %>
      <%= radio_button_tag(:search_type, "eqspec") %>
      <%= label_tag(:age_adult, "按仪器型号搜索") %>
      <%= radio_button_tag(:search_type, "status") %>
      <%= label_tag(:age_adult, "按仪器状态搜索") %>
      <%= radio_button_tag(:search_type, "type") %>
      <%= label_tag(:age_adult, "按仪器类型搜索") %>
      <p>
        <%= text_field :article,:title,:style=>"margin-top:-10px" ,:size=>40 %>
        <%= submit_tag '给我搜' %>
  <% end %>
  </p>
  <table style="width:100%" border="0">
    <tr>
      <th>编号</th>
      <th>仪器名称</th>
      <th>图片</th>
      <th>仪器所属研究单位</th>
      <th colspan="2">操作</th>
    </tr>
    <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><img width="60" height="70" src="<%= article.imageurl %>"/></td>
          <td><%= article.name %></td>
          <td><%= link_to '查看', article %></td>
          <td><%= link_to '更改状态', status_change_article_path(article) %></td>
        </tr>
    <% end %>
  </table>
</fieldset>