<fieldset>
  <legend>用户列表</legend>
  <table style="width:100%" border="0">
  <tr>
    <th>用户名</th>
    <th>姓名</th>
    <th>单位名</th>
    <th>邮箱</th>
    <th>联系电话</th>
    <th>权限</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <%@u=User.find_by_id(session[:user_id])%>
<% @users.each do |user| %>
  <tr>
    <%if @u.authority == '所级管理员'%>
        <%if user.unitname == @u.unitname &&user.authority!='系统管理员'%>
        <td><%= user.logname %></td>
        <td><%= user.name %></td>
        <td><%= user.unitname %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.authority %></td>
        <td><%= link_to '查看', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= button_to "删除", user,:method=>:delete, :class=>:destroy %></td>
        <%end%>
    <%end%>
    <%if @u.authority == '系统管理员'%>
        <td><%= user.logname %></td>
        <td><%= user.name %></td>
        <td><%= user.unitname %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.authority %></td>
        <td><%= link_to '查看', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= button_to "删除", user,:method=>:delete, :class=>:destroy %></td>
    <%end%>
  </tr>
<% end %>
</table>
<%= link_to '添加新的用户', new_user_path %>
</fieldset>
