<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>图片平滑切换</title>
  <%= javascript_include_tag "jquery-1.7.2.min.js"%>
  <%= stylesheet_link_tag "admin" %>
</head>
<body>
<div class="main">
  <div id="container">
    <ul class="image">
      <li><%= image_tag "bing-2.jpg" %></li>
      <li><%= image_tag "bing-3.jpg" %></li>
      <li><%= image_tag "bing-4.jpg" %></li>
      <li><%= image_tag "bing-5.jpg" %></li>
    </ul>
    <ul class="sign">
      <li class="on">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>

    </ul>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        var len = $(".image > li").length;   //元素个数
        var i = 0;
        function turn() {
            i = $(".sign li").index($(".on"))  //获取当前种子标识
            i < len - 1 ? i++ : i = 0   //循环切换
            $(".sign li").eq(i).addClass("on").siblings("li").removeClass("on");  //高亮
            showImg(i);  //切换图片
        }
        $(".sign > li").click(function () {
            clearInterval(set);   //清除定时器
            var index = $(this).index();
            $(this).addClass("on").siblings("li").removeClass("on");
            showImg(index);
            set = setInterval(turn, 5000);
        });
        set = setInterval(turn, 5000);
    });

    function showImg(index) {
        var width = $("#container").width();
        $(".image").stop(true, false).animate({ "left": -index * width }, 500);
    }
</script>
</body>
</html>