<fieldset>
  <legend>填写反馈信息</legend>
<%= form_for(@feedback) do |f| %>
    <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

          <ul>
            <% @feedback.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :反馈姓名 %>：
      <%= @u.name %>
    </div>
    <div class="field">
      <%= f.label :反馈内容 %><br />
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :反馈日期 %><br />
      <%= f.date_select :date %>
    </div>
    <div class="actions">
      <%= submit_tag"提交反馈信息" %>
    </div>
<% end %>
<%= link_to '返回', feedbacks_path %>
  </fieldset>
