<fieldset>
  <legend>编辑反馈信息</legend>
  <%@u=User.find_by_id(session[:user_id])%>
  <%if @u.authority == '普通用户'%>
      <%= form_for(@feedback) do |f| %>
          <% if @feedback.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

                <ul>
                  <% @feedback.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="field">
            <%= f.label :反馈姓名 %><br />
            <%= @u.name %>
          </div>
          <div class="field">
            <%= f.label :反馈内容 %><br />
            <%= f.text_field :content %>
          </div>
          <div class="field">
            <%= f.label :反馈日期 %><br />
            <%= f.date_select :date %>
          </div>
          <div class="actions">
            <%= submit_tag"提交反馈信息" %>
          </div>
      <% end %>
  <% end %>
  <%if @u.authority == '所级管理员'||@u.authority == '系统管理员'%>
<%= render 'form' %>
  <% end %>
<%= link_to '查看', @feedback %> |
<%= link_to '返回', feedbacks_path %>
  </fieldset>